
.navbar-lg {
    width: 100vw;
}

.stw-nav-lg-link {
    color: #000000 !important;
    text-decoration: none;
    background-color: transparent !important;
}

.stw-nav-lg-link:hover, .stw-nav-lg-link:visited {
    background-color: #E4FFF3 !important;
    color: #000000;
}

.stw-nav-lg-link:focus, .stw-nav-lg-link-active {
    border-bottom: 3px solid;
    border-color: #257251;
}


.stw-select-box {
    width: 20%;
}

.stw-select-box,
select {
    background-color: #96FDD1 !important;
    color: #000000 !important;
}

.stw-select-box select {
    box-shadow: none !important;
}

select:focus,
select {
    border-color: transparent !important;
}

.stw-btn-width {
    width: 50%;
}

.form-select {
    width: auto !important;
}

.stw-solutions-logo-box img {
    width: 60px;
}

.globe-icon-box {
    color: #257251;
}

.globe-icon {
    fill: currentColor;
    width: 1.5rem;
}

@media screen and (min-width: 925px) {
    .navbar-lg {
        display: flex !important;
    }
}