.page-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.page-header h1 {
    line-height: 1.5 !important;
    border-bottom: white 2px solid;
    margin-bottom: 0.2em;
}

.page-header p {
    line-height: 1.5 !important;
    font-size: 1.2rem;
}

.browse-btn {
    color: #257251 !important;
    background-color: #E4FFF3 !important;
    font-size: 1.2rem;
    padding: 12px 16px;
}

.browse-btn:hover {
    animation: bounce 1s;
}


.browse-svg {
    width: 1.5rem;
    fill: #257251;
    margin-left: 6px;
}

.solution-hero {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.solution-details-hero-image1,
.solution-details-hero-image2,
.solution-details-hero-image3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.solution-details-hero-image1 {
    height: 80vh;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.solution-details-hero-image2 {
    border-top-right-radius: .5rem;
}

.solution-details-hero-image3 {
    border-bottom-right-radius: .5rem;
}

.solution-details-hero-image2,
.solution-details-hero-image3 {
    height: 50%;
}

.stat-count {
    color: #257251;
    font-weight: 800;
    font-size: 2rem;
}

.stats-details {
    border-bottom-left-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.stats-div,
.initiatives-div {
    padding-left: 6rem;
    padding-right: 6rem;
}

.initiative-card {
    height: auto;
    background-color: #E4FFF3;
}

.initiative-card:hover {
    animation: bounce 1s;
}

.initiative-card img {
    width: 20%;
}

.explore-initiatives-desc-box {
    width: 60%;
}

.lets-talk-btn {
    width: 20%;
}

@media screen and (max-width: 1200px) {
    .stat-count {
        font-size: 1.75rem;
    }

    .stats-div,
    .initiatives-div {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 992px) {
    .page-header {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .explore-initiatives-desc-box {
        width: 100%;
    }

    .lets-talk-btn {
        width: 100%;
        margin-top: 12px;
    }

    .page-header {
        width: 80%;
    }
}