.transition-box {
    transition: opacity 2000ms ease, transform 0.5s ease;
}

.isVisible {
    opacity: 1;
    transform: translateY(0);
}

.isNotVisible {
    opacity: 0;
    transform: translateY(-20);
}

@media (prefers-reduced-motion) {
    .stw-transition-none {
        transition: none !important;
    }
}