.hamburger-icon::after {
    display: none !important;
}

.dropdown-divider {
    border-top: 1px solid #257251 !important;
}

.dropdown-menu {
    min-width: 13rem;
}

.stw-nav-sm-li:hover,
.stw-nav-sm-li:focus {
    background-color: #E4FFF3 !important;
    color: #000000;
}

.globe-icon-sm {
    fill: currentColor;
    width: 1.2rem;
}

.bars-icon-box {
    color: #257251;
}

.bars-icon {
    fill: currentColor;
    width: 1.5rem;
}

.stw-solutions-logo-sm-box img {
    width: 60px;
}

@media screen and (min-width: 925px) {
    .navbar-sm {
        display: none;
    }
}
