.services-container {
    background-size: cover;
    background-position: center;
    height: 40rem;
    opacity: 2.5;
    border-radius: 3.5rem;
    display: flex;

}
.container-fluid-service{
    background-color: rgba(7,237,140,0.06);
    padding: 1.4rem;
}

.info-card {
    background-color: #F1FFF9;
    width: 100%;
    max-width: 699px;
    height: 185px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #257251;
    position: absolute;
    right: 13px;
    border-top-left-radius: 2rem;
}
.header{
    font-size: 4.5em;
}
.head-bottom-line {
    width: 22rem;
    height: 5px;
    transform: skewX(-20deg);
    overflow: hidden;
    background-color: #257251;
    margin: 0 auto;
}

.section-head-text{
    font-family: Lora, serif;
    color: #181820;
}

.card-info{
    width: 30rem;
    height: 90%!important;
    padding-bottom: 5rem!important;
    background-color: rgba(7,237,140,0.06) !important;
}
.centered-btn{
    background-color: #257251!important;
}
.centered-div{
    border: 1px dashed #9747FF;
}
.mod-title{
    color: #257251;
}
.hr-class{
    border: 1px solid #257251!important;
    width: 100%;
}
.bg-white-container{
    border: 3px solid #257251;
    width: 50rem;
}
h5{
    color: #257251
}
@media (min-width: 360px) and (max-width: 768px) {
    .header {
        font-size: 2em;
    }
    .card-info{
        width: 100%;
    }
    .bg-white-container{
        width: 100%;
    }
}