.home-main {
    min-height: 100vh;
}

.bg-light-green {
    background-color: #E4FFF3;
}

.bg-thick-green {
    background-color: #257251;
}

.bold-green-text {
    color: #257251;
    font-weight: 800;
}

.hero-hint {
    color: #6F747B;
    font-size: 2rem;
    letter-spacing: 3px;
}

.line {
    border-top: 6px solid #257251;
    transform: skew(-20deg);
}

.line {
    margin-top: 5rem;
}

.our-partners-head {
    border-bottom: 4px dashed #257251;
}

.hero-statistics .bold-green-text {
    font-size: 2.5rem;
}

.our-values-main .row {
    padding: 6px 6rem 0 6rem;
}

.stw-card-title {
    font-size: 1.2rem;
}

.fly-in {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fly-in.show {
    opacity: 1;
    transform: translateY(0);
}

a:hover .partner-logo-box {
    animation: bounce 1s;
}

.volkswagen-logo {
    width: 12vw;
}

.our-values-sm,
.our-partners-sm {
    display: none;
}

.project-items .description {
    width: 30%;
}

.project-items {
    border-top: 2px solid #257251;
}

.project-item-box {
    padding: 0 10rem;
}

.carbonsate-cameroon-img {
    width: 25rem;
}

.project-title {
    width: 25%;
}


@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 1240px) {
    .our-values-main .row {
        padding: 6px 3rem 0 2rem;
    }

    .project-item-box {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 992px) {
    .company-name {
        text-align: center;
    }

    .hero-hint {
        font-size: 1.5rem;
    }

    .hero-statistics .bold-green-text {
        font-size: 2rem;
    }

    .project-item-box {
        padding: 2rem 1rem !important;
    }

    .carbonsate-cameroon-img {
        width: 12rem;
    }

    .project-items .description {
        width: 50%;
    }

}

@media screen and (max-width: 768px) {

    .our-values-sm,
    .our-partners-sm {
        display: block;
    }

    .our-partners-sm {
        width: 60%;
    }

    .our-values-md,
    .our-partners-md {
        display: none;
    }

    .project-items .description {
        width: 100%;
        text-align: center;
    }

    .our-partners-head, .our-projects-head {
        text-align: center;
    }

    .partner-logo-box {
        width: 30vw;
        height: 20vh;
    }

    .partner-logo-box img {
        width: 75%;
    }

    .project-title {
        width: 100%;
    }

    .project-item-box {
        padding: 3rem !important;
    }

    .carbonsate-cameroon-img {
        width: 18rem;
    }
}

@media screen and (max-width: 600px){
    .partner-logo-box {
        width: 80vw;
        height: auto;
    }
    .partner-logo-box img {
        width: 80%;
    }
    .our-partners-sm {
        width: 70%;
    }
}

@media screen and (max-width: 575px) {
    .projects-done-sm-box {
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #257251;
        text-align: center;
    }
    
    .co2-sm-box {
        border-bottom: 2px solid #257251;
    }

    .trees-planted-sm-box {
        border-right: 2px solid #257251;
        text-align: center;
    }

    .forest-panted-sm-box {
        border-top: 2px solid #257251;
    }
}

/* @media screen and (max-width: 425px) {
    .carbonsate-cameroon-img {
        width: 18rem;
    }
} */

@media screen and (max-width: 360px) {
    .our-partners-sm {
        width: 80%;
    }
}

@media (prefers-reduced-motion) {
    a:hover .partner-logo-box {
        animation: none !important;
    }

    .our-values-sm,
    .our-partners-sm {
        display: none;
    }

    .our-values-md,
    .our-partners-md {
        display: block;
    }
}