.stw-solutions-logo-box {
    width: 5%;
}

.stw-navlinks-box {
    width: 50%;
}

.stw-navbtns-box {
    width: 40%;
}

.stw-nav-link {
    padding: 0 4px !important;
    color: #000000 !important;
    font-weight: 500 !important;
}

.stw-nav-link:focus {
    border-bottom: 3px solid;
    border-color: #257251;
}

.stw-toggler {
    color: #257251 !important;
}

.stw-nav-link:hover {
    color: #257251 !important;
    font-weight: normal;
}

.stw-select-box,
select {
    background-color: #96FDD1 !important;
}

.stw-select-box {
    width: 20%;
}

.stw-select-box select {
    box-shadow: none !important;
}

select:focus,
select {
    border-color: transparent !important;
}

.stw-green-icon {
    color: #257251 !important;
}

.stw-btn-w {
    width: 33.33333%;
}

.company-dropdown-menu li a:hover,
.project-dropdown-menu li a:hover {
    background-color: #A2FAD4 !important;
}

@media screen and (max-width: 992px) {
    .stw-solutions-logo-box {
        width: 7%;
    }
}

@media screen and (max-width: 580px) {
    .stw-solutions-logo-box {
        width: 10%;
    }
}