.project-container {
    background-color: #257251 !important;
    padding: 3rem;
}

.card-div {
    border: #257251 1px solid;
    width: 90%;
}

.active-class {
    background-color: #C7FBE5 !important;
    border-radius: 0 !important;
}

.category-dropdown {
    width: 80%;
}

.bafia-project-image {
    height: 17rem;
}

.more-btn {
    background-color: #257251;
    float: right;
}

.button-box {
    margin-bottom: 6rem;
    margin-right: 4rem;
}

.arrow-svg {
    width: 1rem;
    fill: currentColor;
}
