.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #257251;
    ;
    position: relative;
}

.circle::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 5rem;
    border: 1px solid #E6E9EF
}

.card-box {
    background-color: #A2FAD4;
}

.testimonial-item {
    margin-top: 4rem;
}

.testimonial-item:nth-child(2) {
    margin-top: 8rem;
}

.testimonial-item:nth-child(3) {
    margin-top: 12rem;
}

.testimonial-item:nth-child(4) {
    margin-top: 16rem;
    margin-bottom: 3rem;
}

.testimonial-image {
    width: 13rem;
    height: 13rem;
}

.horizontal-line-what {
    border-bottom: 2px solid #257251;
}

@media (max-width: 768px) {

    .testimonial-item,
    .testimonial-item:nth-child(2),
    .testimonial-item:nth-child(3),
    .testimonial-item:nth-child(4) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

@media (max-width: 576px) {
    .testimonial-image {
        width: 7.5rem;
        height: 7.5rem;
    }

    .testimonial-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}