.svg-image{
    width:3rem;
    color: #257251;
}
.btn-call{
    margin-right: 18rem;
    width: 15rem;
    background-color: #257251;
}
.buttom-page{
    background-color: #257251;
    padding: 4rem;
}
.text-large{
    font-size: 65px;
}
.card-width{
    width: 40rem;
}
.box-margin-top{
    margin-top: 6rem;
    margin-bottom: 5rem;
}
.title-color{
    color: #257251;
}