figure,
h2.wp-block-heading {
    display: none;
}

.blog-details-main {
    height: 60vh;
}

.related-blogs-box {
    background-color: #CFFFEB;
    height: fit-content;
}

.recent-post-blog-details-box {
    width: 90%;
}

@media (max-width: 400px) {
    .recent-post-blog-details-box {
        width: 100%;
    }
}