/* Base styles */
html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Default font styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #181820;
    background-color: #ffffff;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

ul,
ol {
    margin-left: 2em;
}