.parallelogram {
    width: 104px;
    height: 10px;
    transform: skewX(-20deg);
    overflow: hidden;
    background-color: #257251;
}

.section-heading-hr {
    border: 1px solid #E6E9EF;
    width: 100%;
}

.section-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.ml-4 {
    margin-left: 4rem;
}

.mr-4 {
    margin-left: 28rem;
}

.mr-4 {
    margin-left: 35rem;
}

@media (max-width: 1280px) {
    .mr-4 {
        margin-left: 18rem;
    }
}

@media (max-width: 1024px) {
    .mr-4 {
        margin-left: 22rem;
    }
}

@media (max-width: 768px) {
    .mr-4 {
        margin-left: 11rem;
    }
}

@media (max-width: 480px) {
    .mr-4 {
        margin-left: 13rem;
    }
}